<div id="my-question"></div>

<div id="their-answer"></div>

<button id="accept-answer"></button>
<button id="reject-answer"></button>

<div id="their-question"></div>

<div id="my-answer"></div>

<button id="submit-answer"></button>