This is the profile index page.

This page is where profile images will appear and can be swiped.

<script src=".app/assets/javascripts/profiles.js"></script>

<div id="browsing">
  <div id="potential">potential profiles here</div>
  <div id="potential-details">potential details here</div>
  <button id="accept">accept</button>
  <button id="reject">reject</button>
</div>