This is the profile index page.

This page is where profile images will appear and can be swiped.

<script src=".app/assets/javascripts/profiles.js"></script>

<div id="browsing">
  <div id="potential">
    <div id="potential-details">
      potential details here
    </div>
  </div>
  <button id="accept">accept</button>
  <button id="reject">reject</button>
</div>


<%= @potential_matches[0].name %>
<%= @potential_matches[1].name %>

