<% @match.each do |match| %>
  <div class="matched" id='<%= match.id %>' >
    The ID of the matched user is
    <%= @matchedUser %>

  </div>
<% end %>






<!-- OUR TEMPLATES -->

<!-- if response.matches[i].user1_id === current_user.id
<div>
  <p>response.matches[i].user2_id</p>
</div>

else
<div>
  <p>response.matches[i].user1_id</p>
</div> -->
